<body>
  <header>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
  </header>
  <h1>About Me</h1>
  <p>Labore elit anim fugiat non adipisicing irure in proident. Laboris pariatur ullamco esse dolore eu laborum adipisicing commodo adipisicing. Anim aliquip Lorem commodo dolor amet officia. Fugiat eu deserunt quis tempor aliqua deserunt laborum et et sint sit. Officia voluptate sunt incididunt irure tempor sunt dolor. Cillum tempor commodo consectetur tempor velit irure in veniam aliqua adipisicing adipisicing. Aliquip duis sit elit in id velit sint.</p>
</body>
