<body>
  <header>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
  </header>

  <h1>My Astro Blog</h1>
  <p>Dolore exercitation est quis eu cupidatat eu proident id ipsum non ex occaecat exercitation laborum. Proident eu eiusmod mollit adipisicing ullamco anim. Amet proident duis veniam sit labore exercitation cillum occaecat. Laboris occaecat laboris irure laboris. Et culpa duis eu do minim esse. Exercitation anim pariatur nisi Lorem mollit.</p>
</body>
