---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <header>
      <a href="/">Home</a>
      <a href="/about/">About</a>
      <a href="/blog/">Blog</a>
    </header>
		<h1>My Astro Site</h1>
    <p>Dolore proident eu enim incididunt minim laboris esse adipisicing et. Pariatur dolore culpa commodo sunt. Minim in excepteur tempor minim aute pariatur. Aute id elit officia non anim non aliqua ut id reprehenderit. Aliquip laborum veniam ipsum ipsum. Aliqua velit sunt laboris adipisicing deserunt eu sunt exercitation anim mollit.</p>
	</body>
</html>

